In [1]:
%load_ext autoreload

In [2]:
%autoreload 2

In [3]:
import pandas
import numpy
from matplotlib import pyplot as plt
import seaborn
%matplotlib notebook
import datetime
import general
import discretionary_aua
import vantage_aua
import data_accessing
import combined
import revenue
import costs
import consolidated
import discf
pandas.set_option('display.float_format', '{:20,.4f}'.format)   #suppressing scientific notation
idx = pandas.IndexSlice

In [4]:
print('Pulling data...')
fund_dic = data_accessing.read_data(data_accessing.fund_data_name,data_accessing.fund_data_types)
nnb_dic = data_accessing.read_data(data_accessing.nnb_data_name,data_accessing.nnb_data_sheet)
discretionary_aua.append_share_class_units(fund_dic) # appending share class units
index_hl_dic = data_accessing.read_data(data_accessing.index_hl_data_name, data_accessing.index_hl_data_sheet)
data_dic = {**fund_dic, **index_hl_dic, **nnb_dic}


print('Data pulled successfully.')

Pulling data...
Data pulled successfully.

In [5]:
print('Adjusting assumptions...')
input_dic = data_accessing.read_data(data_accessing.assumptions_name, data_accessing.assumptions_sheet)
print('Assumtions updated.')

Adjusting assumptions...
Assumtions updated.

In [6]:
revenue.annual_revenue(data_dic, input_dic,True)

,renewal_income,management_fee,stockbroking_commission,stockbroking_income,interest_on_cash,hlf_amc,platform_fee,pms_advice,advice_fee,funds_library,paper_income,other_income,currency_revenue,interest_on_reserve
calendar_year,,,,,,,,,,,,,,
2018,"6,979,014.0000","18,480,528.0473","65,570,169.6000","2,101,608.0000","35,493,729.6652","75,731,497.5885","226,759,006.2098","14,983,631.7995","11,700,000.0000","7,527,610.8000","5,174,782.2000","5,441,600.0000","2,665,521.3000","1,169,401.1325"
2019,"6,951,125.8601","19,074,272.2401","68,219,204.4518","2,186,512.9632","40,680,285.2704","87,443,309.1332","231,287,578.7601","16,105,424.2422","11,700,000.0000","7,678,915.7771","5,705,197.3755","5,441,600.0000","2,719,098.2781","1,210,450.3398"
2020,"6,923,349.1611","19,639,177.6034","70,975,260.3117","2,274,848.0869","46,184,316.8605","99,413,024.2229","231,694,580.2207","17,280,699.9649","11,700,000.0000","7,833,261.9842","6,289,980.1065","5,441,600.0000","2,773,752.1535","1,252,940.4876"
2021,"6,895,683.4579","20,220,813.2549","73,842,660.8283","2,366,751.9496","51,994,543.5318","112,048,144.4788","258,575,131.0647","18,524,851.9319","11,700,000.0000","7,990,710.5501","6,934,703.0674","5,441,600.0000","2,829,504.5718","1,296,922.1568"
2022,"6,868,128.3068","20,819,674.6801","76,825,904.3257","2,462,368.7284","58,153,383.8033","125,441,371.9501","287,068,514.9593","19,843,653.0168","11,700,000.0000","8,151,323.8321","7,645,510.1318","5,441,600.0000","2,886,377.6137","1,342,447.7040"
2023,"6,861,253.3035","21,436,272.0392","79,929,670.8605","2,561,848.4250","64,681,754.4912","139,638,193.0697","317,271,501.8875","21,241,582.1668","11,700,000.0000","8,315,165.4412","8,429,174.9203","5,441,600.0000","2,944,393.8037","1,389,571.3236"
2024,"6,861,253.3035","22,071,130.6012","83,158,829.5633","2,665,347.1014","71,601,827.4203","154,686,823.4564","349,286,668.0315","22,723,387.0659","11,700,000.0000","8,482,300.2665","9,293,165.3497","5,441,600.0000","3,003,576.1192","1,438,349.1122"
2025,"6,861,253.3035","22,724,791.1914","86,518,446.2776","2,773,027.1243","78,937,104.7252","170,638,371.6664","383,222,744.1440","24,294,100.2589","11,700,000.0000","8,652,794.5019","10,245,714.7980","5,441,600.0000","3,063,947.9992","1,488,839.1359"
2026,"6,861,253.3035","23,397,810.6526","90,013,791.5072","2,885,057.4201","86,712,498.6683","187,547,012.7689","419,194,984.8234","25,959,056.2434","11,700,000.0000","8,826,715.6714","11,295,900.5648","5,441,600.0000","3,125,533.3540","1,541,101.4988"
2027,"6,861,253.3035","24,090,762.3187","93,650,348.6841","3,001,613.7399","94,954,416.2481","205,470,172.3376","457,325,559.9435","27,723,909.5871","11,700,000.0000","9,004,132.6564","12,453,730.3727","5,441,600.0000","3,188,356.5744","1,595,198.4148"
2028,"6,861,253.3035","24,804,236.5037","97,433,822.7710","3,122,878.9350","103,690,848.8826","224,468,721.4804","497,743,969.5708","29,594,654.1313","11,700,000.0000","9,185,115.7228","13,730,237.7359","5,441,600.0000","3,252,442.5415","1,651,194.2819"
2029,"6,861,253.3035","25,538,841.0044","101,370,149.2109","3,249,043.2439","112,951,467.4753","244,607,183.5718","540,587,483.7757","31,577,643.3482","11,700,000.0000","9,369,736.5488","15,137,587.1038","5,441,600.0000","3,317,816.6366","1,709,155.7585"
2030,"6,861,253.3035","26,295,201.6180","105,465,503.2390","3,380,304.5910","122,767,723.1834","265,953,953.3887","586,001,608.8330","33,679,611.9181","11,700,000.0000","9,558,068.2534","16,689,189.7820","5,441,600.0000","3,384,504.7510","1,769,151.8429"
2031,"6,861,253.3035","27,073,962.6757","109,726,309.5699","3,516,868.8965","133,172,954.2341","288,581,529.3946","634,140,581.3937","35,907,698.6022","11,700,000.0000","9,750,185.4253","18,399,831.7346","5,441,600.0000","3,452,533.2965","1,831,253.9555"
2032,"6,861,253.3035","27,875,787.5910","114,159,252.4765","3,658,950.3999","143,449,665.6146","310,914,447.4561","681,952,889.3227","38,218,117.6455","11,700,000.0000","9,946,164.1524","20,285,814.4874","5,441,600.0000","3,521,929.2158","1,895,536.0236"
2033,"3,430,626.6517","14,245,971.8197","58,797,666.4736","1,884,540.5921","73,757,854.4232","159,831,774.5796","351,203,557.6643","19,881,222.1462","5,850,000.0000","5,047,802.0158","10,909,809.9865","2,720,800.0000","1,787,422.8821","972,575.8747"

In [7]:
consolidated.annual_revenue_analysis(data_dic, input_dic)

,Platform fees,Net renewal income,Management fees,HL Fund AMC,Stockbroking income,Interest receivable,Adviser charges,Funds Library,Other income,Total revenue
financial_year,,,,,,,,,,
2018,"211,279,129.2612","6,993,000.0000","32,565,488.2315","69,883,868.1542","66,344,880.0000","34,028,441.3188","11,700,000.0000","7,453,080.0000","10,369,964.0000","450,617,850.9657"
2019,"242,238,337.0717","6,965,055.9720","34,336,673.5089","81,578,462.0621","69,025,213.1520","37,984,027.9866","11,700,000.0000","7,602,886.9080","10,875,121.3100","502,305,777.9713"
2020,"218,842,554.1092","6,937,223.6083","36,040,145.9017","93,372,503.0810","71,813,831.7633","43,406,572.7538","11,700,000.0000","7,755,704.9349","11,432,057.2443","501,300,593.3965"
2021,"244,951,983.3864","6,909,502.4628","37,821,794.2545","105,645,192.0685","74,715,110.5666","49,050,134.7787","11,700,000.0000","7,911,594.6040","12,046,079.1118","550,751,391.2333"
2022,"272,627,978.4203","6,881,892.0910","39,692,925.1635","118,654,242.3951","77,733,601.0335","55,032,310.5251","11,700,000.0000","8,070,617.6556","12,723,038.2208","603,116,605.5047"
2023,"301,964,533.1562","6,861,253.3035","41,658,391.7779","132,443,835.7414","80,874,038.5152","61,373,416.8162","11,700,000.0000","8,232,837.0705","13,469,385.6384","658,577,692.0193"
2024,"333,061,281.1763","6,861,253.3035","43,723,323.1600","147,060,804.6884","84,141,349.6712","68,094,989.4849","11,700,000.0000","8,398,317.0956","14,292,233.6663","717,333,552.2462"
2025,"366,023,834.0775","6,861,253.3035","45,893,140.3872","162,554,791.7723","87,540,660.1980","75,219,856.5136","11,700,000.0000","8,567,123.2692","15,199,423.6171","779,560,083.1384"
2026,"400,964,140.1529","6,861,253.3035","48,173,573.6072","178,978,418.0812","91,077,302.8700","82,772,215.5641","11,700,000.0000","8,739,322.4469","16,199,600.5379","845,465,826.5635"
2027,"438,000,864.5927","6,861,253.3035","50,570,680.1025","196,387,461.9686","94,756,825.9059","90,777,716.1576","11,700,000.0000","8,914,982.8281","17,302,295.5930","915,272,080.4520"
2028,"477,259,792.4990","6,861,253.3035","53,090,863.4252","214,841,048.4893","98,585,001.6725","99,263,546.7867","11,700,000.0000","9,094,173.9829","18,518,016.8913","989,213,697.0503"
2029,"518,874,256.0796","6,861,253.3035","55,740,893.6637","234,401,850.2012","102,567,835.7401","108,258,527.2535","11,700,000.0000","9,276,966.8800","19,858,349.6227","1,067,539,932.7443"
2030,"562,985,587.4751","6,861,253.3035","58,527,928.9126","255,136,300.0158","106,711,576.3040","117,793,206.5484","11,700,000.0000","9,463,433.9143","21,336,066.4590","1,150,515,352.9327"
2031,"609,743,598.7543","6,861,253.3035","61,459,538.0130","277,114,816.8193","111,022,723.9866","127,899,966.6010","11,700,000.0000","9,653,648.9360","22,965,249.2710","1,238,420,795.6848"
2032,"659,307,090.7103","6,861,253.3035","64,543,724.6432","300,412,044.6311","115,508,042.0357","138,613,132.2567","11,700,000.0000","9,847,687.2796","24,761,423.3213","1,331,554,398.1813"
2033,"696,705,415.9823","6,861,253.3035","67,547,139.8569","317,326,609.5456","120,174,566.9339","146,424,105.4694","11,700,000.0000","10,045,625.7939","26,741,705.2118","1,403,526,422.0972"

In [8]:
consolidated.annual_costs_analysis(input_dic)

,Staff costs,Marketing and distribution spend,"Depreciation, amortisation & financial costs",Office running costs,Other costs,FSCS levy costs,Total operating costs
financial_year,,,,,,,
2018,"-76,141,860.3030","-17,726,248.5000","-11,887,013.7000","-4,979,304.2160","-30,083,296.3050","-4,612,500.0000","-145,430,223.0240"
2019,"-79,949,721.5895","-18,612,739.7828","-12,481,484.3250","-5,228,319.6680","-31,587,764.6607","-5,085,281.2500","-152,945,311.2760"
2020,"-83,948,014.3617","-19,543,564.5745","-13,105,684.4794","-5,489,788.4051","-33,167,471.6143","-5,606,522.5781","-160,861,046.0132"
2021,"-88,146,262.1152","-20,520,939.9978","-13,761,100.9397","-5,764,333.2173","-34,826,179.8548","-6,181,191.1424","-169,200,007.2673"
2022,"-92,554,464.6168","-21,547,194.0540","-14,449,294.8362","-6,052,608.0403","-36,567,840.2437","-6,814,763.2345","-177,986,165.0255"
2023,"-97,183,121.7222","-22,624,771.1679","-15,171,905.3714","-6,355,299.5132","-38,396,601.2254","-7,513,276.4660","-187,244,975.4660"
2024,"-102,043,258.3860","-23,756,238.0102","-15,930,653.7245","-6,673,128.6138","-40,316,818.7084","-8,283,387.3038","-197,003,484.7466"
2025,"-107,146,450.9218","-24,944,289.6112","-16,727,347.1510","-7,006,852.3764","-42,333,066.4405","-9,132,434.5024","-207,290,441.0032"
2026,"-112,504,854.5755","-26,191,755.7796","-17,563,883.2875","-7,357,265.6943","-44,450,146.9031","-10,068,509.0389","-218,136,415.2790"
2027,"-118,131,232.4783","-27,501,607.8434","-18,442,254.6715","-7,725,203.2138","-46,673,102.7503","-11,100,531.2154","-229,573,932.1727"
2028,"-124,038,986.0463","-28,876,965.7268","-19,364,553.4874","-8,111,541.3218","-49,007,228.8194","-12,238,335.6650","-241,637,611.0668"
2029,"-130,242,186.9020","-30,321,105.3817","-20,332,976.5501","-8,517,200.2334","-51,458,084.7433","-13,492,765.0706","-254,364,318.8812"
2030,"-136,755,610.3908","-31,837,466.5908","-21,349,830.5373","-8,943,146.1836","-54,031,508.1925","-14,875,773.4904","-267,793,335.3854"
2031,"-143,594,770.7744","-33,429,661.1604","-22,417,537.4840","-9,390,393.7291","-56,733,628.7801","-16,400,540.2731","-281,966,532.2012"
2032,"-150,775,958.1844","-35,101,481.5237","-23,538,640.5512","-9,860,008.1646","-59,570,882.6614","-18,081,595.6511","-296,928,566.7364"
2033,"-158,316,277.4230","-36,856,909.7738","-24,715,810.0836","-10,353,108.0604","-62,550,027.8647","-19,934,959.2054","-312,727,092.4109"

In [9]:
consolidated.get_nnb_compare(data_dic, input_dic,[2017,2018,2019])

                                           Vantage nnb              PMS nnb  \
financial_year quarter_no half_no
2017           1          1         1,098,900,000.0000      11,100,000.0000
               2          1         1,217,700,000.0000      12,300,000.0000
               3          2         3,267,000,000.0000      33,000,000.0000
               4          2         1,247,400,000.0000      12,600,000.0000
2018           1          1           915,546,391.1390       6,802,150.4404
               2          1         1,470,711,607.0479      10,926,810.1566
               3          2         3,191,848,067.3743      23,714,178.7104
               4          2         2,145,102,889.6148      15,937,272.7657
2019           1          1         1,382,768,343.1692      10,273,426.2135
               2          1         1,403,058,873.1237      10,424,176.8894
               3          2         3,045,023,056.2750      22,623,326.4897
               4          2         2,046,428,156.6925      15,204,158.2185

                                        HLMM Funds nnb            Total nnb
financial_year quarter_no half_no
2017           1          1           177,600,000.0000   1,110,000,000.0000
               2          1           196,800,000.0000   1,230,000,000.0000
               3          2           528,000,000.0000   3,300,000,000.0000
               4          2           201,600,000.0000   1,260,000,000.0000
2018           1          1           119,925,370.9846     922,348,541.5794
               2          1           192,645,219.0665   1,481,638,417.2046
               3          2           418,093,028.7214   3,215,562,246.0847
               4          2           280,982,222.5580   2,161,040,162.3806
2019           1          1           181,125,727.9208   1,393,041,769.3827
               2          1           183,783,538.9895   1,413,483,050.0132
               3          2           398,860,749.4003   3,067,646,382.7648
               4          2           268,057,040.3203   2,061,632,314.9110

In [10]:
consolidated.get_aua_compare(data_dic, input_dic,[2017,2018,2019])

                                     Actual                       \
                                Vantage AUA              PMS AUA
financial_year half_no
2017           1        66,792,000,000.0000   3,209,000,000.0000
               2        75,700,000,000.0000   3,500,000,000.0000
2018           1                        nan                  nan
               2                        nan                  nan
2019           1                        nan                  nan
               2                        nan                  nan

                                                                  \
                             HLMM Funds AUA            Total AUA
financial_year half_no
2017           1         7,581,000,000.0000  70,001,000,000.0000
               2         8,900,000,000.0000  79,200,000,000.0000
2018           1                        nan                  nan
               2                        nan                  nan
2019           1                        nan                  nan
               2                        nan                  nan

                                WP forecast                       \
                                Vantage AUA              PMS AUA
financial_year half_no
2017           1                        nan                  nan
               2        75,700,000,000.0000   3,500,000,000.0000
2018           1        81,089,631,324.7171   3,592,301,058.1471
               2        88,766,004,817.5686   3,737,722,092.0037
2019           1        93,960,414,951.1343   3,867,316,145.1423
               2       101,531,654,052.1160   4,017,259,387.1739


                             HLMM Funds AUA            Total AUA
financial_year half_no
2017           1                        nan                  nan
               2         8,900,000,000.0000  79,200,000,000.0000
2018           1         9,403,162,934.4707  84,681,932,382.8642
               2        10,372,648,821.4576  92,503,726,909.5723
2019           1        11,015,962,877.5113  97,827,731,096.2766
               2        11,969,515,941.0818 105,548,913,439.2899

In [11]:
consolidated.get_revenue_compare(data_dic, input_dic,False,[2017,2018,2019])

                                  Actual                       \
financial_year                      2017                 2018
Platform fees           169,300,000.0000                  nan
Net renewal income        6,300,000.0000                  nan
Management fees          28,200,000.0000                  nan
HL Fund AMC              56,500,000.0000                  nan
Stockbroking income      61,600,000.0000                  nan
Interest receivable      36,600,000.0000                  nan
Adviser charges          11,000,000.0000                  nan
Funds Library             7,500,000.0000                  nan
Other income              8,800,000.0000                  nan
Total revenue           385,800,000.0000               0.0000

                                                  WP forecast  \
financial_year                      2019                 2017
Platform fees                        nan                  nan
Net renewal income                   nan                  nan
Management fees                      nan                  nan
HL Fund AMC                          nan                  nan
Stockbroking income                  nan                  nan
Interest receivable                  nan                  nan
Adviser charges                      nan                  nan
Funds Library                        nan                  nan
Other income                         nan                  nan
Total revenue                     0.0000                  nan


financial_year                      2018                 2019
Platform fees           211,279,129.2612     242,238,337.0717
Net renewal income        6,993,000.0000       6,965,055.9720
Management fees          32,565,488.2315      34,336,673.5089
HL Fund AMC              69,883,868.1542      81,578,462.0621
Stockbroking income      66,344,880.0000      69,025,213.1520
Interest receivable      34,028,441.3188      37,984,027.9866
Adviser charges          11,700,000.0000      11,700,000.0000
Funds Library             7,453,080.0000       7,602,886.9080
Other income             10,369,964.0000      10,875,121.3100
Total revenue           450,617,850.9657     502,305,777.9713

In [12]:
consolidated.get_costs_compare(input_dic,False,[2017,2018,2019])

                                                           Actual  \
financial_year                                               2017
Staff costs                                       68,600,000.0000
Marketing and distribution spend                  14,300,000.0000
Depreciation, amortisation & financial costs       9,000,000.0000
Office running costs                               4,200,000.0000
Other costs                                       26,400,000.0000
FSCS levy costs                                    4,200,000.0000
Total operating costs                            126,700,000.0000

                                                                   \
financial_year                                               2018
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                      0.0000

                                                                   \
financial_year                                               2019
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                      0.0000

                                                      WP forecast  \
financial_year                                               2017
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                         nan

                                                                   \
financial_year                                               2018
Staff costs                                       76,141,860.3030
Marketing and distribution spend                  17,726,248.5000
Depreciation, amortisation & financial costs      11,887,013.7000
Office running costs                               4,979,304.2160
Other costs                                       30,083,296.3050
FSCS levy costs                                    4,612,500.0000
Total operating costs                            145,430,223.0240


financial_year                                               2019
Staff costs                                       79,949,721.5895
Marketing and distribution spend                  18,612,739.7828
Depreciation, amortisation & financial costs      12,481,484.3250
Office running costs                               5,228,319.6680
Other costs                                       31,587,764.6607
FSCS levy costs                                    5,085,281.2500
Total operating costs                            152,945,311.2760

In [13]:
discf.disc_cash_flow(data_dic, input_dic)

financial_year,2018,2019,2020,2021,2022,2023,2024,2025,2026
EBIT,"308,976,159.4873","353,242,391.9204","344,417,348.8200","385,627,615.2931","429,307,728.6991","475,613,764.2371","524,717,655.1059","576,766,630.4024","631,938,743.7006"
Tax,"58,705,470.3026","67,116,054.4649","65,439,296.2758","73,269,246.9057","81,568,468.4528","90,366,615.2051","99,696,354.4701","109,585,659.7764","120,068,361.3031"
EAT,"250,270,689.1847","286,126,337.4555","278,978,052.5442","312,358,368.3874","347,739,260.2463","385,247,149.0321","425,021,300.6358","467,180,970.6259","511,870,382.3975"
Depreciation,"11,887,013.7000","12,481,484.3250","13,105,684.4794","13,761,100.9397","14,449,294.8362","15,171,905.3714","15,930,653.7245","16,727,347.1510","17,563,883.2875"
Capital Expenditure,"16,805,151.7290","17,645,578.8794","18,528,035.8673","19,454,624.6085","20,427,552.1361","21,449,135.8569","22,521,809.0716","23,648,126.7702","24,830,771.7183"
Free cash flow,"245,352,551.1557","280,962,242.9011","273,555,701.1563","306,664,844.7186","341,761,002.9463","378,969,918.5465","418,430,145.2887","460,260,191.0067","504,603,493.9667"
Discounted cash flow,"226,653,626.9337","239,768,513.6951","215,656,253.0529","223,332,728.7546","229,923,298.0364","235,525,160.4022","240,230,215.0290","244,106,966.1377","247,228,826.8765"

In [14]:
discf.fair_value(data_dic, input_dic)

                                       HL
Terminal value        11,633,913,888.6758
Enterprise value       7,802,423,541.9044
Net debt&cash            211,000,000.0000
Fair value             8,013,423,541.9044
No. of shares                   474720010
Fair value per share              16.8803

In [15]:
combined.get_historic_implied_nnb(data_dic)

month_end
2017-06-30                 0.0000
2017-07-31        37,085,690.1611
2017-08-31        19,245,712.9347
2017-09-29                 0.0000
2017-10-31                 0.0000
2017-11-30                 0.0000
2017-12-29                 0.0000
2018-01-31                 0.0000
2018-02-28                 0.0000
2018-03-30                 0.0000
2018-04-30                 0.0000
2018-05-31                 0.0000
2018-06-29                 0.0000
2018-07-31                 0.0000
2018-08-31                 0.0000
2018-09-28                 0.0000
2018-10-31                 0.0000
2018-11-30                 0.0000
2018-12-31                 0.0000
2019-01-31                 0.0000
2019-02-28                 0.0000
2019-03-29                 0.0000
2019-04-30                 0.0000
2019-05-31                 0.0000
2019-06-28                 0.0000
2019-07-31                 0.0000
2019-08-30                 0.0000
2019-09-30                 0.0000
2019-10-31                 0.0000
2019-11-29                 0.0000
                     ...
2031-01-31                 0.0000
2031-02-28                 0.0000
2031-03-31                 0.0000
2031-04-30                 0.0000
2031-05-30                 0.0000
2031-06-30                 0.0000
2031-07-31                 0.0000
2031-08-29                 0.0000
2031-09-30                 0.0000
2031-10-31                 0.0000
2031-11-28                 0.0000
2031-12-31                 0.0000
2032-01-30                 0.0000
2032-02-27                 0.0000
2032-03-31                 0.0000
2032-04-30                 0.0000
2032-05-31                 0.0000
2032-06-30                 0.0000
2032-07-30                 0.0000
2032-08-31                 0.0000
2032-09-30                 0.0000
2032-10-29                 0.0000
2032-11-30                 0.0000
2032-12-31                 0.0000
2033-01-31                 0.0000
2033-02-28                 0.0000
2033-03-31                 0.0000
2033-04-29                 0.0000
2033-05-31                 0.0000
2033-06-30                 0.0000
Freq: BM, Length: 193, dtype: float64