In [1]:
import pandas
import numpy
from matplotlib import pyplot as plt
import seaborn
%matplotlib notebook
import datetime
import general
import discretionary_aua
import vantage_aua
import data_accessing
import combined
import revenue
import costs
import consolidated
import discf
pandas.set_option('display.float_format', '{:20,.4f}'.format)   #suppressing scientific notation
idx = pandas.IndexSlice

In [2]:
print('Pulling data...')
fund_dic = data_accessing.read_data(data_accessing.fund_data_name,data_accessing.fund_data_types)
nnb_dic = data_accessing.read_data(data_accessing.nnb_data_name,data_accessing.nnb_data_sheet)
discretionary_aua.append_share_class_units(fund_dic) # appending share class units
index_hl_dic = data_accessing.read_data(data_accessing.index_hl_data_name, data_accessing.index_hl_data_sheet)
data_dic = {**fund_dic, **index_hl_dic, **nnb_dic}

input_dic = data_accessing.read_data(data_accessing.assumptions_name, data_accessing.assumptions_sheet)
print('Data pulled successfully.')

Pulling data...
Data pulled successfully.

In [5]:
consolidated.annual_revenue_analysis(data_dic, input_dic)

,Platform fees,Net renewal income,Management fees,HL Fund AMC,Stockbroking income,Interest receivable,Adviser charges,Funds Library,Other income,Total revenue
financial_year,,,,,,,,,,
2018,"211,980,666.7225","6,993,000.0000","32,610,786.9401","70,335,581.9318","68,984,010.0000","34,306,691.9179","11,700,000.0000","7,453,080.0000","10,369,964.0000","454,733,781.5123"
2019,"242,929,417.4455","6,965,055.9720","34,387,419.0118","82,050,953.2952","71,717,389.6650","38,270,706.8509","11,700,000.0000","7,602,886.9080","10,875,121.3100","506,498,950.4585"
2020,"219,333,717.8417","6,937,223.6083","36,092,420.7494","93,824,585.2352","74,560,121.0243","43,688,236.7742","11,700,000.0000","7,755,704.9349","11,432,057.2443","505,324,067.4122"
2021,"245,379,108.7470","6,909,502.4628","37,875,711.9983","106,076,341.7279","77,516,600.2416","49,326,802.5159","11,700,000.0000","7,911,594.6040","12,046,079.1118","554,741,741.4094"
2022,"272,987,223.1067","6,881,892.0910","39,748,584.3771","119,063,203.6103","80,591,400.6510","55,303,682.2020","11,700,000.0000","8,070,617.6556","12,723,038.2208","607,069,641.9144"
2023,"302,251,824.3280","6,861,253.3035","41,715,896.9496","132,829,277.2055","83,789,279.9051","61,639,174.6694","11,700,000.0000","8,232,837.0705","13,469,385.6384","662,488,929.0699"
2024,"333,272,301.6225","6,861,253.3035","43,782,785.0473","147,421,315.2165","87,115,187.4130","68,354,796.6847","11,700,000.0000","8,398,317.0956","14,292,233.6663","721,198,190.0494"
2025,"366,154,007.5547","6,861,253.3035","45,954,676.3929","162,888,875.5082","90,574,272.0783","75,473,356.0210","11,700,000.0000","8,567,123.2692","15,199,423.6171","783,372,987.7449"
2026,"401,008,615.8428","6,861,253.3035","48,237,308.1785","179,284,489.4173","94,171,890.3491","83,019,028.9175","11,700,000.0000","8,739,322.4469","16,199,600.5379","849,221,508.9935"
2027,"437,954,500.6282","6,861,253.3035","50,636,745.1534","196,663,840.1610","97,913,614.5934","91,017,442.1878","11,700,000.0000","8,914,982.8281","17,302,295.5930","918,964,674.4484"
2028,"477,117,138.5008","6,861,253.3035","53,159,398.7843","215,085,951.9494","101,805,241.8126","99,495,760.2542","11,700,000.0000","9,094,173.9829","18,518,016.8913","992,836,935.4789"
2029,"518,629,534.6457","6,861,253.3035","55,812,047.5496","234,613,390.4450","105,852,802.7070","108,482,777.4047","11,700,000.0000","9,276,966.8800","19,858,349.6227","1,071,087,122.5581"
2030,"562,632,674.5592","6,861,253.3035","58,601,858.4369","255,312,475.2503","110,062,571.1069","118,009,015.5842","11,700,000.0000","9,463,433.9143","21,336,066.4590","1,153,979,348.6143"
2031,"609,276,002.8676","6,861,253.3035","61,536,409.7140","277,253,505.1440","114,441,073.7852","128,106,828.0544","11,700,000.0000","9,653,648.9360","22,965,249.2710","1,241,793,971.0758"
2032,"658,717,930.8745","6,861,253.3035","64,623,715.0515","300,510,996.8313","118,995,100.6652","138,810,509.2729","11,700,000.0000","9,847,687.2796","24,761,423.3213","1,334,828,616.5998"
2033,"696,033,750.4634","6,861,253.3035","67,631,176.4713","317,407,263.5653","123,731,715.4419","146,622,282.9122","11,700,000.0000","10,045,625.7939","26,741,705.2118","1,406,774,773.1632"

In [6]:
consolidated.annual_costs_analysis(input_dic)

,Staff costs,Marketing and distribution spend,"Depreciation, amortisation & financial costs",Office running costs,Other costs,FSCS levy costs,Total operating costs
financial_year,,,,,,,
2018,"-76,141,860.3030","-17,726,248.5000","-11,887,013.7000","-4,979,304.2160","-30,083,296.3050","-4,612,500.0000","-145,430,223.0240"
2019,"-79,949,721.5895","-18,612,739.7828","-12,481,484.3250","-5,228,319.6680","-31,587,764.6607","-5,085,281.2500","-152,945,311.2760"
2020,"-83,948,014.3617","-19,543,564.5745","-13,105,684.4794","-5,489,788.4051","-33,167,471.6143","-5,606,522.5781","-160,861,046.0132"
2021,"-88,146,262.1152","-20,520,939.9978","-13,761,100.9397","-5,764,333.2173","-34,826,179.8548","-6,181,191.1424","-169,200,007.2673"
2022,"-92,554,464.6168","-21,547,194.0540","-14,449,294.8362","-6,052,608.0403","-36,567,840.2437","-6,814,763.2345","-177,986,165.0255"
2023,"-97,183,121.7222","-22,624,771.1679","-15,171,905.3714","-6,355,299.5132","-38,396,601.2254","-7,513,276.4660","-187,244,975.4660"
2024,"-102,043,258.3860","-23,756,238.0102","-15,930,653.7245","-6,673,128.6138","-40,316,818.7084","-8,283,387.3038","-197,003,484.7466"
2025,"-107,146,450.9218","-24,944,289.6112","-16,727,347.1510","-7,006,852.3764","-42,333,066.4405","-9,132,434.5024","-207,290,441.0032"
2026,"-112,504,854.5755","-26,191,755.7796","-17,563,883.2875","-7,357,265.6943","-44,450,146.9031","-10,068,509.0389","-218,136,415.2790"
2027,"-118,131,232.4783","-27,501,607.8434","-18,442,254.6715","-7,725,203.2138","-46,673,102.7503","-11,100,531.2154","-229,573,932.1727"
2028,"-124,038,986.0463","-28,876,965.7268","-19,364,553.4874","-8,111,541.3218","-49,007,228.8194","-12,238,335.6650","-241,637,611.0668"
2029,"-130,242,186.9020","-30,321,105.3817","-20,332,976.5501","-8,517,200.2334","-51,458,084.7433","-13,492,765.0706","-254,364,318.8812"
2030,"-136,755,610.3908","-31,837,466.5908","-21,349,830.5373","-8,943,146.1836","-54,031,508.1925","-14,875,773.4904","-267,793,335.3854"
2031,"-143,594,770.7744","-33,429,661.1604","-22,417,537.4840","-9,390,393.7291","-56,733,628.7801","-16,400,540.2731","-281,966,532.2012"
2032,"-150,775,958.1844","-35,101,481.5237","-23,538,640.5512","-9,860,008.1646","-59,570,882.6614","-18,081,595.6511","-296,928,566.7364"
2033,"-158,316,277.4230","-36,856,909.7738","-24,715,810.0836","-10,353,108.0604","-62,550,027.8647","-19,934,959.2054","-312,727,092.4109"

In [7]:
consolidated.get_nnb_compare(data_dic, input_dic,[2017,2018,2019])

                                Vantage nnb              PMS nnb  \
financial_year half_no
2017           1         2,316,600,000.0000      23,400,000.0000
               2         4,514,400,000.0000      45,600,000.0000
2018           1         2,715,005,465.1139      20,171,425.2810
               2         5,320,610,426.6667      39,530,047.7476
2019           1         2,777,297,646.7938      20,634,231.7485
               2         5,075,862,347.0400      37,711,665.5512

                             HLMM Funds nnb            Total nnb
financial_year half_no
2017           1           374,400,000.0000   2,340,000,000.0000
               2           729,600,000.0000   4,560,000,000.0000
2018           1           355,632,484.3615   2,735,176,890.3950
               2           696,934,841.8147   5,360,140,474.4143
2019           1           363,791,997.7075   2,797,931,878.5423
               2           664,875,839.0912   5,113,574,012.5912

In [8]:
consolidated.get_aua_compare(data_dic, input_dic,[2017,2018,2019])

                                     Actual                       \
                                Vantage AUA              PMS AUA
financial_year half_no
2017           1        66,792,000,000.0000   3,209,000,000.0000
               2        75,700,000,000.0000   3,500,000,000.0000
2018           1                        nan                  nan
               2                        nan                  nan
2019           1                        nan                  nan
               2                        nan                  nan

                                                                  \
                             HLMM Funds AUA            Total AUA
financial_year half_no
2017           1         7,581,000,000.0000  70,001,000,000.0000
               2         8,900,000,000.0000  79,200,000,000.0000
2018           1                        nan                  nan
               2                        nan                  nan
2019           1                        nan                  nan
               2                        nan                  nan

                                WP forecast                       \
                                Vantage AUA              PMS AUA
financial_year half_no
2017           1                        nan                  nan
               2        75,700,000,000.0000   3,500,000,000.0000
2018           1        81,303,255,597.8987   3,604,643,036.6999
               2        88,955,541,550.0829   3,750,203,054.8909
2019           1        94,133,446,078.8287   3,880,001,822.5939
               2       101,680,884,482.9173   4,030,105,256.8151


                             HLMM Funds AUA            Total AUA
financial_year half_no
2017           1                        nan                  nan
               2         8,900,000,000.0000  79,200,000,000.0000
2018           1         9,471,197,224.4295  84,907,898,634.5986
               2        10,438,711,999.9535  92,705,744,604.9738
2019           1        11,081,083,089.7655  98,013,447,901.4226
               2        12,032,773,658.5886 105,710,989,739.7323

In [6]:
consolidated.get_revenue_compare(data_dic, input_dic,False,[2017,2018,2019])

                                  Actual                       \
financial_year                      2017                 2018
Platform fees           169,300,000.0000                  nan
Net renewal income        6,300,000.0000                  nan
Management fees          28,200,000.0000                  nan
HL Fund AMC              56,500,000.0000                  nan
Stockbroking income      61,600,000.0000                  nan
Interest receivable      36,600,000.0000                  nan
Adviser charges          11,000,000.0000                  nan
Funds Library             7,500,000.0000                  nan
Other income              8,800,000.0000                  nan
Total revenue           385,800,000.0000               0.0000

                                                  WP forecast  \
financial_year                      2019                 2017
Platform fees                        nan                  nan
Net renewal income                   nan                  nan
Management fees                      nan                  nan
HL Fund AMC                          nan                  nan
Stockbroking income                  nan                  nan
Interest receivable                  nan                  nan
Adviser charges                      nan                  nan
Funds Library                        nan                  nan
Other income                         nan                  nan
Total revenue                     0.0000                  nan


financial_year                      2018                 2019
Platform fees           208,241,157.0175     234,234,183.5201
Net renewal income        6,993,000.0000       6,965,055.9720
Management fees          32,510,576.0733      34,215,830.4895
HL Fund AMC              68,872,948.2233      78,562,269.7881
Stockbroking income      68,984,010.0000      71,717,389.6650
Interest receivable      33,618,366.4658      36,676,885.0290
Adviser charges          11,700,000.0000      11,700,000.0000
Funds Library             7,453,080.0000       7,602,886.9080
Other income             10,369,964.0000      10,875,121.3100
Total revenue           448,743,101.7799     492,549,622.6818

In [7]:
consolidated.get_costs_compare(input_dic,False,[2017,2018,2019])

                                                           Actual  \
financial_year                                               2017
Staff costs                                       68,600,000.0000
Marketing and distribution spend                  14,300,000.0000
Depreciation, amortisation & financial costs       9,000,000.0000
Office running costs                               4,200,000.0000
Other costs                                       26,400,000.0000
FSCS levy costs                                    4,200,000.0000
Total operating costs                            126,700,000.0000

                                                                   \
financial_year                                               2018
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                      0.0000

                                                                   \
financial_year                                               2019
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                      0.0000

                                                      WP forecast  \
financial_year                                               2017
Staff costs                                                   nan
Marketing and distribution spend                              nan
Depreciation, amortisation & financial costs                  nan
Office running costs                                          nan
Other costs                                                   nan
FSCS levy costs                                               nan
Total operating costs                                         nan

                                                                   \
financial_year                                               2018
Staff costs                                       76,141,860.3030
Marketing and distribution spend                  17,726,248.5000
Depreciation, amortisation & financial costs      11,887,013.7000
Office running costs                               4,979,304.2160
Other costs                                       30,083,296.3050
FSCS levy costs                                    4,612,500.0000
Total operating costs                            145,430,223.0240


financial_year                                               2019
Staff costs                                       79,949,721.5895
Marketing and distribution spend                  18,612,739.7828
Depreciation, amortisation & financial costs      12,481,484.3250
Office running costs                               5,228,319.6680
Other costs                                       31,587,764.6607
FSCS levy costs                                    5,085,281.2500
Total operating costs                            152,945,311.2760

In [10]:
discf.disc_cash_flow(data_dic, input_dic)

financial_year,2018,2019,2020,2021,2022,2023,2024,2025,2026
EBIT,"304,462,280.3015","340,794,060.1179","326,859,649.2507","361,158,220.0481","397,511,936.0378","436,051,990.3146","476,923,941.0465","520,247,059.7978","566,169,765.1582"
Tax,"57,847,833.2573","64,750,871.4224","62,103,333.3576","68,620,061.8091","75,527,267.8472","82,849,878.1598","90,615,548.7988","98,846,941.3616","107,572,255.3801"
EAT,"246,614,447.0442","276,043,188.6955","264,756,315.8930","292,538,158.2389","321,984,668.1906","353,202,112.1548","386,308,392.2476","421,400,118.4362","458,597,509.7781"
Depreciation,"11,887,013.7000","12,481,484.3250","13,105,684.4794","13,761,100.9397","14,449,294.8362","15,171,905.3714","15,930,653.7245","16,727,347.1510","17,563,883.2875"
Capital Expenditure,"16,805,151.7290","17,645,578.8794","18,528,035.8673","19,454,624.6085","20,427,552.1361","21,449,135.8569","22,521,809.0716","23,648,126.7702","24,830,771.7183"
Free cash flow,"241,696,309.0152","270,879,094.1411","259,333,964.5051","286,844,634.5701","316,006,410.8907","346,924,881.6693","379,717,236.9006","414,479,338.8170","451,330,621.3473"
Discounted cash flow,"223,276,036.0418","231,163,721.9387","204,444,618.9136","208,898,398.5952","212,596,626.1986","215,609,562.6694","218,004,258.2924","219,826,298.0426","221,127,957.6604"

In [11]:
discf.fair_value(data_dic, input_dic)

                                       HL
Terminal value        10,405,678,214.3967
Enterprise value       7,053,175,391.0785
Net debt&cash            211,000,000.0000
Fair value             7,264,175,391.0785
No. of shares                   474720010
Fair value per share              15.3020